@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  position: relative;
}

.card {
  width: 90%;
  margin: auto;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-img {
  background-image: url('/public/images/illustration-woman-online-mobile.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
  position: relative;
  top: -130px;
}

.bg-img img {
  width: 90%;
  position: relative;
  top: 130px;
}
.section {
  position: relative;
  top: -40px;
}
.section h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1em;
}

.faq-box {
  width: 90%;
  margin: auto;
  text-align: left;
}

.inner-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  overflow: hidden;
  margin-bottom: 1em;
}

.inner-div h5 {
  padding-bottom: 1.5em;
  color: hsl(237, 12%, 33%);
}
.inner-div img {
  padding-bottom: 1.3em;
}

.down {
  transform: rotate(180deg);
  padding-bottom: 1.3em;
}

.one {
  transition: all 0.5s ease;
  height: 30px;
  width: 100%;
  font-size: 12px;
  text-align: left;
  color: hsl(240, 6%, 50%);
}

.one.hoy {
  transition: all .5s ease;
  height: 0px;
}
