@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  position: relative;
}

.card {
  width: 90%;
  margin: auto;
  max-width: 375px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 10px 100px rgb(0 0 0 / 0.6);
}

.bg-img .box {
  display: none;
}

.bg-img .img-desktop {
  display: none;
}

.bg-img .img-mobile {
  width: 240px;
  height: 185px;
  position: relative;
  top: -110px;
  left: 50px;
}

.bg-img .shadow {
  position: relative;
  top: -75px;
}

.section {
  position: relative;
  top: -40px;
}
.section h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1em;
  color: rgb(29, 29, 55);
}

.faq-box {
  width: 90%;
  margin: auto;
  text-align: left;
}

.inner-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  overflow: hidden;
  margin-bottom: 1em;
}

.inner-div h5 {
  padding-bottom: 1.5em;
  color: hsl(237, 12%, 33%);
}
.inner-div img {
  padding-bottom: 1.3em;
}

.down {
  transform: rotate(180deg);
  padding-bottom: 1.3em;
}

.one {
  transition: all 0.5s ease;
  height: 30px;
  width: 100%;
  font-size: 12px;
  text-align: left;
  color: hsl(240, 6%, 50%);
}

.one.hoy {
  transition: all .5s ease;
  height: 0px;
}

@media (min-width: 1000px){
  .card {
    max-width: 925px;
    height: 515px;
    z-index: 2;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .row > div {
    width: 50%;
  }

  .bg-img {
    display: block;
    position: relative;
  }

  .bg-img .box {
    display: block;
    position: absolute;
    top: 225px;
    left: -90px;
    z-index: 99;
    transition: all .2s ease;
  }

  .bg-img .box:hover {
    scale: 1.1;
    transform: rotateX(10deg) skew(15deg);
  }
  
  .bg-img .img-desktop {
    display: inline-block;
    width: 460px;
    height: 520px;
    position: relative;
    overflow: hidden;
  }

  .bg-img .img-desktop .desktop  {
    position: absolute;
    top: 90px ;
    left: -90px;
    width: 450px;
    height: 360px;
    z-index: 1;
    transition: all .5s ease;
  }

  .bg-img .img-desktop .desktop:hover {
    scale: 1.1;
    /* transform: rotateX(10deg) skew(-15deg); */
  }
  
  .bg-img .img-desktop .desktop-bg {
    position: relative;
    top: -280px;
    left: -590px;
    z-index: -1;
  }

  .bg-img .img-mobile {
    display: none;
  }
  
  .bg-img .shadow {
    display: none;
  }
   
  .section {
    position: relative;
    top: 0px;
    text-align: left;
  }

  .section h1 {
    width: 100%;
    padding-bottom: 55px;
  }
  
  .faq-box {
    width: 90%;
    padding-right: 3em;
  }
  
  .inner-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    overflow: hidden;
    margin-bottom: 1em;
  }
  .inner-div:hover {
    cursor: pointer;
  }
  
  .inner-div h5 {
    padding-bottom: 1em;
    color: hsl(237, 12%, 33%);
  }

  .inner-div img {
    padding-bottom: 1em;
  }
  
} 